<div class="container-auth container">
  <h2>Signup</h2>
  <div>
    <form action="/auth/signup" method="POST" id="form-container" class="auth-form">

      <div class="auth-input">
        <label for="hackername">Hackername</label>
        <input class="blank-space" id="hackername" type="text" name="hackername" placeholder="Ironhacker">
      </div>
      <br>
      <br>
      <div class="auth-input">
        <label for="password">Password</label>
        <input class="blank-space" id="password" type="password" name="password" placeholder="Your password">
      </div>

      <% if (typeof message !== "undefined") { %>
        <div class="error-message">
          <%= message %>
        </div>
        <% } %>
          <br>
          <br>

          <button class="buttons">Create account</button>

          <div class="account-message">
            <p>Do you already have an account?</p>
            <a class="buttons" href="/auth/login">Login</a>
          </div>
    </form>
  </div>
</div>