<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link href=“https://fonts.googleapis.com/css?family=Raleway:400,700” rel=“stylesheet”>
  <link href=“https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700” rel=“stylesheet”>
</head>


<body>
  <header class="header">
    <div>
      <h1>
        <a class="title-header" href="/feed">HACK-A-SLACK</a>
      </h1>
    </div>

    <% if (user) { %>
      <div class="header-buttons">
        <a class="buttons" id="new-post">+</a>
        <a class="buttons" href="/feed/">Feed</a>
        <a class="buttons" href="/auth/logout">Logout</a>
      </div>
      <div id="new-form-container">
        <form action="/feed/new" method="POST" id="new-form">
          <div class="form">
            <textarea id="post-text" type="text" maxlength="200" name="text" placeholder="Type your funny message here." rows="5"></textarea>
            <br>
            <br>
            <button class="buttons" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <% } %>


  </header>

  <%-body%>


</body>

</html>