<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (user) { %>
    <button>
      <a href="/auth/logout">Logout</a>
    </button>
    <% } %>
      <%-body%>
</body>

</html>