<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (user) { %>
    <a class="buttons" href="/auth/logout">Logout</a>
    <a class="buttons" href="/feed/new">New Post!</a>
    <% } %>
      <%-body%>
</body>

</html>