<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to
    <%= title %>
  </h1>
  <p>This is the place to bully other ironhackers anonymously - just kidding. Here you can post whatever you want and people
    will up- or downvote your post.</p>
  <iframe src="https://giphy.com/embed/nfLpqTrNPpqcE" width="480" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p>
    <button>
      <a class="buttons" href="/auth/signup"> Sign Up</a>
    </button>
    <button>
      <a class="buttons" href="/auth/login">Log in</a>
    </button>

  </p>
</body>

</html>