html {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  border: 1px white;
}

body {
  padding: 50px;
  margin-top: 150px;
  height: 100vh;
  background-image: url("../images/Background.svg");
}

.title-header {
  text-decoration: none;
  color: #2e364c;
}

.header {
  text-align: left;
  background-color: white;
  padding: 1% 3%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-wrap: wrap;
  font-size: 32pt;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-buttons .buttons {
  padding: 2% 4%;
  background-color: #3dc4fd;
  color: white;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3%;
  /* font-family: ‘Source Code Pro’, monospace; */
}

.homepage-container {
  margin-top: 125px;
  font-size: 24px;
  background-color: #3dc4fd;
  border-radius: 78px;
  padding: 2%;
}
.container {
  margin-top: 125px;
  font-size: 24px;
  /*   */
  border-radius: 78px;
  padding: 2%;
}

.title {
  display: flex;
  justify-content: center;
}

#giphy {
  display: flex;
  justify-content: center;
}

#index_buttons {
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 4%;
  padding: 5%;
}

#index_buttons .buttons {
  padding: 2% 4%;
  background-color: white;
  color: #3dc4fd;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  border: 2px #3dc4fd;
  margin: 0 3%;
}

.buttons {
  padding: 2% 4%;
  background-color: white;
  color: #3dc4fd;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  border: 2px #3dc4fd;
  margin: 0 3%;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.blank-space {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
}

.post {
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-end;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e364c;
  border-radius: 23px 23px 0px 0px;
  color: white;
  padding: 3%;
}

.comment {
  font-size: 0.5em;
  background: #3dc4fd;
  color: white;
  border-radius: 0px 0px 23px 24px;
  padding: 5%;
}

.comment-button {
  padding: 2% 4%;
  background-color: white;
  color: #3dc4fd;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  border: 2px #3dc4fd;
  margin: 0% 2%;
}

.form {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#post-text {
  align-items: center;
  justify-content: center;
}

/* .buttons {
  color: #50e3c2;
  font-size: 20px;
  border-radius: 7px;
  background: #fcf4d9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.buttons:hover {
  background: #ff7a5a;
  text-decoration: none; */
/* } */

textarea {
  width: 70%;
  height: 25%;
  background-color: black;
  color: #04f6ff;
  border: solid black 2px;
  font-family: monospace;
  font-size: 2em;
}

h2 {
  color: white;
}

button.buttons {
  font-family: "Orbitron", sans-serif;
}

.container-auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: grey;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blank-space {
  height: 3em;
  border-radius: 10px;
}

.auth-input {
  display: flex;
  flex-direction: column;
}
