body {
  padding: 50px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  background-color: #360264;
}

.container {
  background: #200b33;
  border-radius: 25px;
}

.buttons {
  color: #50e3c2;
  font-size: 20px;
  border-radius: 7px;
  background: #fcf4d9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.buttons:hover {
  background: #ff7a5a;
  text-decoration: none;
}

a {
  color: #ff7a5a;
}

p {
  color: #ff7a5a;
}

h1,
h2 {
  color: #50e3c2;
}

label {
  color: #fcf4d9;
}

.error-message {
  color: #fcf4d9;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
