<p>It is working!</p>

<<<<<<< HEAD

<%= feeds %>
=======
<div class="post">
  <hr>
  <p>
    <%=post[0].text%>
  </p>
</div>

<div class="post">
  <hr>
  <p>
    <%=post[1].text%>
  </p>
</div>
>>>>>>> b5eafc01ef06e10e44ab19f72b06e7762283f861
