<h1>Your Ironhack Feed:</h1>
<% for(var ix =0; ix < post.length; ix++) { %>
  <hr>
  <div class="post">
    <p>
      <%=post[ix].text%>
    </p>
    <form action="/feed/upvote/<%= post[ix]._id %>" method="POST">
      <input type="submit" value="Upvote">
    </form>
    <p>
      <%=post[ix].score%>
    </p>
    <form action="/feed/downvote/<%= post[ix]._id %>" method="POST">
      <input type="submit" value="Downvote">
    </form>
  </div>
  <% } %>
    <hr>