<h1>Your Ironhack Feed:</h1>


<% for(var ix =0; ix < post.length; ix++) { %>
  <div class="post"></div>
  <hr>
  <p>
    <%=post[ix].text%>
  </p>
  </div>
  <% } %>


    <div class="post">
      <hr>
      <p>
        <%=post[1].text%>
      </p>
    </div>