<h2>Comments</h2>

<form action="/feed/detail" method="POST" id="new-comment">
  <div>
    <textarea id="post-text" type="text" maxlength="200" name="text" placeholder="Type your comment here."></textarea>
    <br>
    <br>
    <button class="buttons" type="submit">Submit</button>
  </div>