<h2>New Post</h2>

<form action="/feed/new" method="POST" id="new-form">
  <div>
    <textarea id="post-text" type="text" maxlength="200" name="text" placeholder="Type your funny message here."></textarea>
    <br>
    <br>
    <button class="buttons" type="submit">Submit</button>
  </div>